<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

	<!-- 
		Node Application & Nodeunit Application launch configuration types 
	-->
	<extension point="org.eclipse.debug.core.launchConfigurationTypes">
	    <launchConfigurationType
	        name="Node Application"
	        delegate="org.tp23.eclipse.launching.NodeApplicationLaunchConfigurationDelegate"
	        modes="run, debug"               
	        id="org.tp23.eclipse.launching.nodeApplication">        
	    </launchConfigurationType>
	    <launchConfigurationType
	        name="Nodeunit Application"
	        delegate="org.tp23.eclipse.launching.NodeunitApplicationLaunchConfigurationDelegate"
	        modes="run, debug"               
	        id="org.tp23.eclipse.launching.nodeunitApplication">        
	    </launchConfigurationType>
	</extension>
	
	<!-- 
		Icons for launch config types 
	-->
	<extension point="org.eclipse.debug.ui.launchConfigurationTypeImages">
	    <launchConfigurationTypeImage
	        icon="icons/node16.png"
	        configTypeID="org.tp23.eclipse.launching.nodeApplication"
	        id="org.eclipse.jdt.debug.ui.launchConfigurationTypeImage.nodeApplication">
	    </launchConfigurationTypeImage>
	    <launchConfigurationTypeImage
	        icon="icons/nodeunit16.png"
	        configTypeID="org.tp23.eclipse.launching.nodeunitApplication"
	        id="org.eclipse.jdt.debug.ui.launchConfigurationTypeImage.nodeunitApplication">
	    </launchConfigurationTypeImage>
	</extension>

	<!-- 
		UI pages for launch config types, e.g set location of node binary 
	-->
	<extension point="org.eclipse.debug.ui.launchConfigurationTabGroups">
	    <launchConfigurationTabGroup
	        type="org.tp23.eclipse.launching.nodeApplication"
	        class="org.tp23.eclipse.launching.NodeApplicationTabGroup"
	        id="org.tp23.eclipse.launching.launchConfigurationTabGroup.nodeApplication">
	    </launchConfigurationTabGroup>
	    <launchConfigurationTabGroup
	        type="org.tp23.eclipse.launching.nodeunitApplication"
	        class="org.tp23.eclipse.launching.NodeunitApplicationTabGroup"
	        id="org.tp23.eclipse.launching.launchConfigurationTabGroup.nodeunitApplication">
	    </launchConfigurationTabGroup>
	</extension>

	<!-- 
		Launch from right mouse clicks
	-->
	<extension point="org.eclipse.debug.ui.launchShortcuts">
	    <shortcut
	        id="org.tp23.eclipse.launching.nodeApplicationShortcut"
	        class="org.tp23.eclipse.launching.NodeApplicationLaunchShortcut"
	        label="Node Application"
	        icon="icons/node16.png"
	        category=""
	        helpContextId="zippo"
	        path="node"
	        description="Launch as a node app"
	        modes="run, debug">
	       <contextualLaunch>
	       	 <enablement>
				<test property="org.tp23.eclipse.launching.LaunchablePropertyTester" value="true" />
	         </enablement>
	         <contextLabel mode="run" label="node application" />
	         <contextLabel mode="debug" label="node application" />
	       </contextualLaunch>
	         
	       <configurationType
	              id="org.tp23.eclipse.launching.nodeApplication">
	       </configurationType>
	       <description
	              description="node applicaiton"
	              mode="run">
	       </description>
	       <description
	              description="node application"
	              mode="debug">
	       </description>
 
	    </shortcut>
	    
	    <shortcut
	        id="org.tp23.eclipse.launching.nodeunitApplicationShortcut"
	        class="org.tp23.eclipse.launching.NodeunitApplicationLaunchShortcut"
	        label="Nodeunit Application"
	        icon="icons/nodeunit16.png"
	        category=""
	        helpContextId="zippo"
	        path="node"
	        description="Launch as nodeunit"
	        modes="run, debug">
	       <contextualLaunch>
	       	 <enablement>
				<test property="org.tp23.eclipse.launching.LaunchablePropertyTester" value="true" />
	         </enablement>
	         <contextLabel mode="run" label="nodeunit test" />
	         <contextLabel mode="debug" label="nodeunit test" />
	       </contextualLaunch>
	         
	       <configurationType
	              id="org.tp23.eclipse.launching.nodeunitApplication">
	       </configurationType>
	       <description
	              description="nodeunit test"
	              mode="run">
	       </description>
	       <description
	              description="nodeunit test"
	              mode="debug">
	       </description>
 
	    </shortcut>
	</extension>
	
	<!-- 
		TODO these just return true indicating all types can be launched as node.
	-->
	<extension point="org.eclipse.core.expressions.propertyTesters">
		<propertyTester
			class="org.tp23.eclipse.launching.LaunchablePropertyTester"
			id="org.tp23.eclipse.launching.LaunchablePropertyTester" namespace="org.tp23.eclipse.launching"
			properties="LaunchablePropertyTester" type="java.lang.Object" />
	</extension>
	
	<!-- 
		Configuration in the menu Window > Preferences
	-->
	<extension point="org.eclipse.ui.preferencePages">
	    <page
	          class="org.tp23.eclipse.node.preferences.NodePreferencePage"
	          id="org.tp23.eclipse.node.preferences.NodePreferencePage"
	          name="Node.js">
	    </page>
	</extension>
	<extension point="org.eclipse.core.runtime.preferences">
	    <initializer
	          class="org.tp23.eclipse.node.preferences.PreferenceInitializer">
	    </initializer>
	</extension>
	<extension point="org.eclipse.ui.preferencePages">
	</extension>

	<!--
		Actions currnetly the node package manager menu
	-->
	<extension point="org.eclipse.ui.actionSets">
    	<actionSet
            label="NPM Actions"
            visible="true"
            id="org.tp23.eclipse.npm.actionSet">
			<menu
			       label="&amp;npm"
			       id="npmMenu">
			    <separator
			          name="npmGroup">
			    </separator>
			</menu>
			<!-- Actions seem to load in reverse order for some reason ?-->
			<action
			       label="&amp;Remove npm consoles"
			       class="org.tp23.eclipse.npm.RemoveConsolesAction"
			       tooltip="removes ls and search consoles"
			       menubarPath="npmMenu/npmGroup"
			       id="org.tp23.eclipse.npm.RemoveConsolesAction">
			</action>
			<action
			       label="&amp;Install Dom"
			       icon="icons/npm16.png"
			       class="org.tp23.eclipse.npm.InstallDomAction"
			       tooltip="npm install dom-js"
			       menubarPath="npmMenu/npmGroup"
			       id="org.tp23.eclipse.npm.InstallDomAction">
			</action>
			<action
			       label="&amp;Install Sax"
			       icon="icons/npm16.png"
			       class="org.tp23.eclipse.npm.InstallSaxAction"
			       tooltip="npm install sax"
			       menubarPath="npmMenu/npmGroup"
			       id="org.tp23.eclipse.npm.InstallSaxAction">
			</action>
			<action
			       label="&amp;Install Nodeunit"
			       icon="icons/npm16.png"
			       class="org.tp23.eclipse.npm.InstallNodeunitAction"
			       tooltip="npm install sax"
			       menubarPath="npmMenu/npmGroup"
			       id="org.tp23.eclipse.npm.InstallNodeunitAction">
			</action>
			<action
			       label="&amp;ls"
			       icon="icons/npm16.png"
			       class="org.tp23.eclipse.npm.LsAction"
			       tooltip="ls npm packages"
			       menubarPath="npmMenu/npmGroup"
			       id="org.tp23.eclipse.npm.LsAction">
			</action>
			<action
			       label="&amp;Install ..."
			       icon="icons/npm16.png"
			       class="org.tp23.eclipse.npm.InstallAction"
			       tooltip="npm install [package]"
			       menubarPath="npmMenu/npmGroup"
			       id="org.tp23.eclipse.npm.InstallAction">
			</action>
			<action
			       label="&amp;Search ..."
			       icon="icons/npm16.png"
			       class="org.tp23.eclipse.npm.SearchAction"
			       tooltip="ls npm packages"
			       menubarPath="npmMenu/npmGroup"
			       id="org.tp23.eclipse.npm.SearchAction">
			</action>
			<action
			       label="&amp;Create modules project"
			       icon="icons/node16.png"
			       class="org.tp23.eclipse.npm.CreateModulesProjectAction"
			       tooltip="Create node_modules project for workspace local npm packages"
			       menubarPath="npmMenu/npmGroup"
			       id="org.tp23.eclipse.npm.CreateModulesProjectAction">
			</action>

		</actionSet>
	</extension>
   
   <!-- 
   	 hmm totally untested npm module installer
   -->
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="org.tp23.eclipse.npm.publish.contribution"
            objectClass="org.eclipse.core.resources.IProject">
         <menu
               id="org.tp23.eclipse.npm.publish.menu"
               label="npm"
               path="additions">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               class="org.tp23.eclipse.npm.PublishAction"
               enablesFor="1"
               id="org.tp23.eclipse.npm.publishAction"
               label="publish"
               menubarPath="org.tp23.eclipse.npm.publish.menu/group1">
         </action>
      </objectContribution>
   </extension>
   
   <extension
         point="org.eclipse.ui.views">
      <view
            name="Nodeunit"
            class="org.tp23.eclipse.nodeunit.NodeunitResultsView"
            id="org.tp23.eclipse.nodeunit.view"
            icon="icons/nodeunit16.png">
      </view>
   </extension>
   
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.tp23.eclipse.node.category"
            name="Node">
      </category>
      <wizard
            category="org.tp23.eclipse.node.category"
            class="org.tp23.eclipse.nodeunit.NewNodeunitWizard"
            icon="icons/nodeunit16.png"
            id="org.tp23.eclipse.nodeunit.NewNodeunitWizard"
            name="nodeunit">
         <description>
            Create a new nodeunit test.
         </description>
      </wizard>
      <wizard
            category="org.tp23.eclipse.node.category"
            class="org.tp23.eclipse.node.NodeModuleOOWizard"
            icon="icons/node16.png"
            id="org.tp23.eclipse.node.NodeModuleOOWizard"
            name="OO Module">
         <description>
            Create a new object oriented module.
         </description>
      </wizard>
      <wizard
            category="org.tp23.eclipse.node.category"
            class="org.tp23.eclipse.node.NodeModuleFunctionWizard"
            icon="icons/node16.png"
            id="org.tp23.eclipse.node.NodeModuleFunctionWizard"
            name="Node Module">
         <description>
            Create a new node module that exports functions.
         </description>
      </wizard>
      <wizard
            category="org.tp23.eclipse.node.category"
            class="org.tp23.eclipse.node.HelloworldWizard"
            icon="icons/node16.png"
            id="org.tp23.eclipse.nodeunit.HelloworldWizard"
            name="helloworld">
         <description>
            Create a classic hello world server.
         </description>
      </wizard>
   </extension>

   <extension point="org.eclipse.wst.jsdt.ui.JsGlobalScopeContainerPage">
  	  <JsGlobalScopeContainerPage
            name="Node.js Library"
            class="org.tp23.eclipse.node.assist.NodeLibraryWizardPage"
            id="org.tp23.eclipse.node.assist.node">
      </JsGlobalScopeContainerPage>
   </extension>
   <extension
      point="org.eclipse.wst.jsdt.core.JsGlobalScopeContainerInitializer">
      <JsGlobalScopeContainerInitializer
            class="org.tp23.eclipse.node.assist.NodeLibInitializer"
            id="org.tp23.eclipse.node.assist.NodeLibrary">
      </JsGlobalScopeContainerInitializer>
   </extension>
      
   <extension point="org.eclipse.wst.jsdt.ui.JsGlobalScopeUIInitializer">
     <JsGlobalScopeUIInitializer
     	id="org.tp23.eclipse.node.assist.NodeUiLibrary"
     	class="org.tp23.eclipse.node.assist.NodeUiInitializer">
     </JsGlobalScopeUIInitializer>
   </extension>
   
</plugin>
